@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat+Subrayada:wght@400;700&family=PT+Sans+Narrow&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Salsa&display=swap');

.container-contact{
    border:2px solid red;
    margin: 50px 0 0 0;
    color: #6698da;
}

.container-form{
    display: flex;
    flex-direction: column;
    border: 2px solid green;
    width: 60%;
    align-items: center;
}
.inputs{
    display: flex;
    flex-direction: row;

}
.inputs input,.inputs select{
    width: 240px;
    height: 40px;
    margin-top: 50px;
    padding: 0%;
    margin-left: 10px;
    border: 1px solid red;
    background-color: transparent;
    cursor: pointer;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bolder; 
}
#mensagem{
    width: 490px;
    height: 150px;
    margin-top: 50px;
    padding: 0%;
    border: 1px solid red;
    background-color: transparent;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bolder; 
    color: #6698da;
}

#btn-submit{
    margin-top: 50px;
    width: 150px;
    height: 40px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bolder; 
    
}
input::placeholder{
    color: #6698da;
    padding: 0px 0 0 10px;
}
textarea::placeholder{
    color: #6698da;
    padding: 10px 0 0 10px;
}
select option, select{
    color: #6698da; 
    padding: 0px 10px 0 10px;
    padding: 10px;
}
