@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat+Subrayada:wght@400;700&family=PT+Sans+Narrow&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Salsa&display=swap');




.container-contact-big{
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 2;
}

.container-contact{
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.9);
    margin: 200px 0 0 0;
    color: #6698da;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    z-index: 2;
}

.container-form{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-top: 0;
    width: 600px;
    align-items: center;
    background-color: rgba(2,24,48,255);
    z-index: 2;
}
.inputs{
    display: flex;
    flex-direction: row;
    margin-top: 0;
    justify-content: center;
    padding-top: 0;
}
.inputs input,.inputs select{
    width: 240px;
    height: 40px;
    margin-top: 50px;
    padding: 0%;
    margin-left: 10px;
    background-color: transparent;
    cursor: pointer;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bolder; 
    border: 1px solid white;
    outline: none;
    border-radius: 5px;
}
.inputs input:hover,.inputs select:hover,#mensagem:hover{
    border: 1px solid  #bf10c5 ;
}
#mensagem{
    width: 490px;
    height: 150px;
    margin-top: 50px;
    padding: 0%;
    border: 1px solid red;
    background-color: transparent;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bolder; 
    color: #6698da;
    border: 1px solid white;
    outline: none;
    border-radius: 5px;
}

#btn-submit{
    margin-top: 50px;
    margin-bottom: 30px;
    width: 150px;
    height: 40px;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-weight: bolder; 
    border-radius: 10px;
    color: rgb(5, 17, 31);
    background-image: linear-gradient(to right, #1958aa, #bf10c5);
    outline: none;
    border: none;
    box-shadow: 1px 1px 5px 1px rgba(221, 241, 255, 0.2);
    font-size: 18px;
}
#btn-submit:hover{
    cursor: pointer;
    box-shadow: 1px 1px 20px 2px rgba(221, 241, 255, 0.2);
    color: #b9d7ff;
    }

input::placeholder{
    color: #6698da;
    padding: 0px 0 0 5px;
}
textarea::placeholder{
    color: #6698da;
    padding: 5px 0 0 5px;
}
select option, select{
    color: #6698da; 
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bolder; 
}
.container-form h3{
    font-size: 40px;
    text-align:left;
    margin-top: 0;
    padding-left: 55px;
    padding-top: 40px;
    color: rgb(172, 190, 211);
}
.container-img{
    width: 300px;
    background-color: rgba(2, 10, 20, 1);
    /* border-bottom: 90px solid rgba(2,24,48,255); */
    border-bottom: 30px solid rgba(2,24,48,255); 
    border-block-end-style:double;
    border-top: 30px solid rgba(2,24,48,255); 
    border-block-start-style:double;
    display: flex;
    flex-direction: column;  
}
.container-img h2{
    font-size: 20px;
    margin-top: 210px;
    margin-bottom: 50px;
    padding-left: 10px;
}
.email{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.email h1{
    font-size: 15px;
    margin-left: 10px;
}
.email img{
    width: 24px;
    height: 24px;
    padding-left: 20px;
}
.phone{
    display: flex;
    flex-direction: row;
}
.phone img{
    width: 24px;
    height: 24px;
    padding-left: 20px;
}
.phone ul{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0;
    margin-left: 10px;
}
.phone ul li{
    list-style: none; 
}
.space{
    height: 200px;
}
.imgsolta{
    background-image: url('../../../assets/img/bgContacts.png');
    width: 499px;
    height: 500px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 80%;
    left: 10%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    mix-blend-mode:overlay;
}
.imgsolta2{
    background-image: url('../../../assets/img/bgContacts.png');
    width: 499px;
    height: 500px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 50%;
    right: 0;
    opacity: 0.3;
    mix-blend-mode:overlay;
}