@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat+Subrayada:wght@400;700&family=PT+Sans+Narrow&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Salsa&display=swap');

/*zero criatividades para essa parte*/
.container-about{
display:flex;
flex-direction: row;
height: 100%;
margin: 120px 90px 0 90px;
font-family: "PT Sans Narrow", sans-serif; 
}
.img-about{
display: flex;
flex-direction: row;
margin-top: 10px;
z-index: 1;
margin-left: 100px;
}

#meet-img{
height: 200px;
width:200px;
margin-top: 70px;
border-radius: 20px;
mix-blend-mode: screen;
opacity: 0.2;
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
z-index: 1;
}
#coding-img{
height: 200px;
width:200px;
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
z-index: 3;
margin-left: -200px;
margin-top: -40px;
mix-blend-mode: screen;
opacity: 0.4;
}
#code-img{
height: 200px;
width:200px;
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
margin-left: -90px;
z-index: 2;
margin-top: 180px;
mix-blend-mode: screen;
opacity: 0.4;
}

.container-about-txt{
display: flex;
flex-direction: column;
z-index: 2;

}
.container-about-txt h1{
font-size: 70px;
padding: 0 50px 0 50px ;
margin-top: 130px;
margin-left: -80px;
/* background-color: rgba(21, 57, 100, 1) ; */
text-align:left;
z-index: 4;
color: #6698da;
position: relative;
}

.container-about-txt p{
height: 500px;
/* border: 2px solid blue; */
text-align: justify;
margin-top: 180px;
width: 900px;
font-size: 20px;
margin-left: -300px;
color: #5393e7;

}